<html lang="en">

<head>
   <title>
      <%=title%>
   </title>
   <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <div class="wrapper">
      <%- include('blocks/header') -%>
         <section class="table main">
            <div class="table__selected-month">
               <%= monthName %>
                  <%= yearValue %>
            </div>
            <div class="table__columns">
               <% if(daysItems.length<1){%>
                  <p class="table__columns-nodata-title">Данные за <%= monthName %>
                        <%= yearValue %> отсутствуют </p>

                  <% } %>
                     <%if(daysItems.length>0) {%>
                        <div class="table__column day">
                           <p class="table__value">День</p>
                           <ul class="table__list">
                              <% for(let i in daysItems){ %>
                                 <li class="table__list-item">
                                    <%= daysItems[i] %>
                                 </li>
                                 <% } %>
                           </ul>
                        </div>
                        <div class="table__column time">
                           <p class="table__value">Время</p>
                           <ul class="table__list">
                              <% for(let i in timeItems){ %>
                                 <li class="table__list-item">
                                    <%= timeItems[i] %>
                                 </li>
                                 <% } %>
                           </ul>
                        </div>
                        <div class="table__column rate">
                           <p class="table__value">Оценка</p>
                           <ul class="table__list">
                              <% for(let i in rateItems){ %>
                                 <li class="table__list-item">
                                    <%= rateItems[i] %>
                                 </li>
                                 <% } %>
                           </ul>
                        </div>

            </div>

            <div class="table__average">
               <p>Среднее значение <%= average %> минут в месяц</p>
               <p>Средняя оценка <%= averageRate %>
               </p>
            </div>


            <% } %>
         </section>
         <%- include('blocks/footer') -%>
   </div>
</body>

</html>

<style>

</style>